.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_Store
*svg
.ipynb_checkpoints/


# Byte-compiled / optimized / DLL files
*__pycache__/**
*.py[cod]

Figure8_RandomForest/__pycache__/
Figure8_RandomForest/__pycache__*


# ignore .idea folder
*.idea/



